<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shopping.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.yc.shopping.bean.Cart">
    <id column="cartId" jdbcType="INTEGER" property="cartid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="isCheck" jdbcType="INTEGER" property="ischeck" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cartId, pid, uid, count, isCheck
  </sql>
  <select id="selectByExample" parameterType="com.yc.shopping.bean.CartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where cartId = #{cartid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where cartId = #{cartid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.shopping.bean.CartExample">
    delete from cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.shopping.bean.Cart">
    insert into cart (cartId, pid, uid, 
      count, isCheck)
    values (#{cartid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{ischeck,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.shopping.bean.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartid != null">
        cartId,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="ischeck != null">
        isCheck,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartid != null">
        #{cartid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.shopping.bean.CartExample" resultType="java.lang.Long">
    select count(*) from cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cart
    <set>
      <if test="record.cartid != null">
        cartId = #{record.cartid,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.ischeck != null">
        isCheck = #{record.ischeck,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cart
    set cartId = #{record.cartid,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      count = #{record.count,jdbcType=INTEGER},
      isCheck = #{record.ischeck,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.shopping.bean.Cart">
    update cart
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null">
        isCheck = #{ischeck,jdbcType=INTEGER},
      </if>
    </set>
    where cartId = #{cartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.shopping.bean.Cart">
    update cart
    set pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      isCheck = #{ischeck,jdbcType=INTEGER}
    where cartId = #{cartid,jdbcType=INTEGER}
  </update>
  
  
  <!-- 添加的代码 -->
  <resultMap type="com.yc.shopping.bean.Cart2" id="cart2" autoMapping="true">
  	<id column="cartid" property="cartid"/>
  	<association property="product" javaType="com.yc.shopping.bean.Product" autoMapping="true">
		<id column="pid" property="pid"/>
	</association>
  </resultMap>
  <select id="selectAllCartByuid" resultMap="cart2">
		select * from (select * from cart where uid=#{uid}) a left join product b
		on a.pid=b.pid
	</select>
  
   <update id="updateCartCheck" parameterType="com.yc.shopping.bean.Cart">
    update cart
    set pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      isCheck = #{ischeck,jdbcType=INTEGER}
    where cartId = #{cartid,jdbcType=INTEGER}
  </update>
  
  <update id="updateAllCheck" parameterType="com.yc.shopping.bean.Cart">
    update cart set isCheck = 1 where isCheck=0
  </update>
 
  <select id="selectcheck" resultMap="cart2">
		select * from (select * from cart where ischeck=0) a left join product b
		on a.pid=b.pid
	</select>
  
</mapper>