<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shopping.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.yc.shopping.bean.Category">
    <id column="categoryId" jdbcType="INTEGER" property="categoryid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    categoryId, cname, sort, parentId
  </sql>
  <select id="selectByExample" parameterType="com.yc.shopping.bean.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.shopping.bean.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.shopping.bean.Category">
    insert into category (categoryId, cname, sort, 
      parentId)
    values (#{categoryid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.shopping.bean.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        categoryId,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.shopping.bean.CategoryExample" resultType="java.lang.Long">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.categoryid != null">
        categoryId = #{record.categoryid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        parentId = #{record.parentid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set categoryId = #{record.categoryid,jdbcType=INTEGER},
      cname = #{record.cname,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=VARCHAR},
      parentId = #{record.parentid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.shopping.bean.Category">
    update category
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
    </set>
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.shopping.bean.Category">
    update category
    set cname = #{cname,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  
  
  <!-- 手动添加 -->
  <resultMap type="com.yc.shopping.bean.Category2" id="category1" autoMapping="true">
		<id column="categoryId" property="categoryid"/>
		<collection property="catepList" ofType="com.yc.shopping.bean.Category2" autoMapping="true">
			<id  property="categoryid" column="catepList.categoryId"/>
			<id  property="cname" column="catepList.cname"/>
			<id  property="sort" column="catepList.sort"/>
			<id  property="parentid" column="catepList.perentId"/>
		</collection>	
    </resultMap>
    
	<select id="selectCategory" resultMap="category1">
		SELECT a.*,b.categoryId "catepList.categoryId",b.cname `catepList.cname`,b.sort "catepList.sort",b.parentId "catepList.perentId"
		FROM category a LEFT JOIN category b ON a.categoryId=b.parentId
		WHERE a.parentId=0
	</select>
</mapper>