<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shopping.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.yc.shopping.bean.Product">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="pdesc" jdbcType="VARCHAR" property="pdesc" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="categoryId" jdbcType="INTEGER" property="categoryid" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="sale" jdbcType="TIMESTAMP" property="sale" />
    <result column="productId" jdbcType="VARCHAR" property="productid" />
    <result column="colorImage" jdbcType="VARCHAR" property="colorimage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, pname, pdesc, stock, categoryId, price, color, sale, productId, colorImage
  </sql>
  <select id="selectByExample" parameterType="com.yc.shopping.bean.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.shopping.bean.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.shopping.bean.Product">
    insert into product (pid, pname, pdesc, 
      stock, categoryId, price, 
      color, sale, productId, 
      colorImage)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{pdesc,jdbcType=VARCHAR}, 
      #{stock,jdbcType=INTEGER}, #{categoryid,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, 
      #{color,jdbcType=VARCHAR}, #{sale,jdbcType=TIMESTAMP}, #{productid,jdbcType=VARCHAR}, 
      #{colorimage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.shopping.bean.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="pdesc != null">
        pdesc,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="categoryid != null">
        categoryId,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="colorimage != null">
        colorImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pdesc != null">
        #{pdesc,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=TIMESTAMP},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="colorimage != null">
        #{colorimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.shopping.bean.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null">
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.pdesc != null">
        pdesc = #{record.pdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.categoryid != null">
        categoryId = #{record.categoryid,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.sale != null">
        sale = #{record.sale,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productid != null">
        productId = #{record.productid,jdbcType=VARCHAR},
      </if>
      <if test="record.colorimage != null">
        colorImage = #{record.colorimage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set pid = #{record.pid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=VARCHAR},
      pdesc = #{record.pdesc,jdbcType=VARCHAR},
      stock = #{record.stock,jdbcType=INTEGER},
      categoryId = #{record.categoryid,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      color = #{record.color,jdbcType=VARCHAR},
      sale = #{record.sale,jdbcType=TIMESTAMP},
      productId = #{record.productid,jdbcType=VARCHAR},
      colorImage = #{record.colorimage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.shopping.bean.Product">
    update product
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pdesc != null">
        pdesc = #{pdesc,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=TIMESTAMP},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="colorimage != null">
        colorImage = #{colorimage,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.shopping.bean.Product">
    update product
    set pname = #{pname,jdbcType=VARCHAR},
      pdesc = #{pdesc,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      categoryId = #{categoryid,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      color = #{color,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=TIMESTAMP},
      productId = #{productid,jdbcType=VARCHAR},
      colorImage = #{colorimage,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>