<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.shopping.dao.RegionMapper">
  <resultMap id="BaseResultMap" type="com.yc.shopping.bean.Region">
    <id column="regionId" jdbcType="INTEGER" property="regionid" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="regionName" jdbcType="VARCHAR" property="regionname" />
    <result column="regionType" jdbcType="TINYINT" property="regiontype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    regionId, parentId, regionName, regionType
  </sql>
  <select id="selectByExample" parameterType="com.yc.shopping.bean.RegionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from region
    where regionId = #{regionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from region
    where regionId = #{regionid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.shopping.bean.RegionExample">
    delete from region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.shopping.bean.Region">
    insert into region (regionId, parentId, regionName, 
      regionType)
    values (#{regionid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{regionname,jdbcType=VARCHAR}, 
      #{regiontype,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.shopping.bean.Region">
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionid != null">
        regionId,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="regionname != null">
        regionName,
      </if>
      <if test="regiontype != null">
        regionType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionid != null">
        #{regionid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="regionname != null">
        #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="regiontype != null">
        #{regiontype,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.shopping.bean.RegionExample" resultType="java.lang.Long">
    select count(*) from region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update region
    <set>
      <if test="record.regionid != null">
        regionId = #{record.regionid,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null">
        parentId = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.regionname != null">
        regionName = #{record.regionname,jdbcType=VARCHAR},
      </if>
      <if test="record.regiontype != null">
        regionType = #{record.regiontype,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update region
    set regionId = #{record.regionid,jdbcType=INTEGER},
      parentId = #{record.parentid,jdbcType=INTEGER},
      regionName = #{record.regionname,jdbcType=VARCHAR},
      regionType = #{record.regiontype,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.shopping.bean.Region">
    update region
    <set>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="regionname != null">
        regionName = #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="regiontype != null">
        regionType = #{regiontype,jdbcType=TINYINT},
      </if>
    </set>
    where regionId = #{regionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.shopping.bean.Region">
    update region
    set parentId = #{parentid,jdbcType=INTEGER},
      regionName = #{regionname,jdbcType=VARCHAR},
      regionType = #{regiontype,jdbcType=TINYINT}
    where regionId = #{regionid,jdbcType=INTEGER}
  </update>
</mapper>